/* MainPage.css */
.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
  html, body {
    height: 100%;
    width: 100%;
}
.image-container {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease-in, transform 1s ease-in;
}

.image-container.visible {
  opacity: 1;
  transform: translateX(0);
}