body{
    margin:0;
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
    background-color: #9d9d9d;
        height: 100vh;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
}
a{
    color:black;
}
.header{
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0,0.1 );
    position: fixed;
    width: 100%;
    z-index: 3;
}
.header ul{
    margin: 0;
    padding:0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}
.header ul a{
    display: block;
    
    padding: 20px;
    border-right: 1px solid #aaa;
    text-decoration: none;
}
.header ul a:hover{
    background-color: #ddd;
}
.header .logo{
    float: left;
    display:block;
    font-size: 28px;
    padding: 10px 20px;
    cursor: default;
    
}
/* mobile approach*/
.header .menu{
    clear: both;
    max-height: 0;
    transition:max-height .2s ease-out;
}
.header .menu-icon{
    /*outline:1px solid red;*/
    padding:20px;
    position:relative;
    float:right;
    cursor: pointer;
}
.header .menu-icon .nav-icon{
    background-color: #000000;
    display:block;
    height:2px;
    width:18px;
    position: relative;
    transition:background .2s ease-out;
}
/*psuedo element*/
.header .menu-icon .nav-icon:before {
    background-color: #000000;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top:5px;/*moved down from top*/
    transition:all .2s ease-out;
    margin : auto ;
}
.header .menu-icon .nav-icon:after {
    background-color: #000000;
    content: "";
    display:block;
    height:100%;
    width:100%;
    position: absolute;
    top:-5px;/*moved above from top*/
    transition:all .2s ease-out;
    margin : auto; 
}
.header .menu-btn{
    display:none;
}
.header .menu-btn:checked  ~ .menu{
    max-height:240px;
}
.header .menu-btn:checked  ~ .menu-icon .nav-icon{
background-color: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
transform: rotate(-45deg);
top:0px;
}
.header .menu-btn:checked ~.menu-icon .nav-icon:after{
    transform: rotate(45deg) ;
    top:0px;
}

@media(min-width:999px){
/*desktkop*/
    .header li{
         float: left;
    }
    .header li a{
        padding:20px 30px;
    }
    .header .menu{
        clear:none;
        float:right;
        max-height: none;
    }
    .header .menu-icon{
        display:none;
    }
}
.cursor-pointer:hover {
    cursor: pointer;
  }
  